/* Added Google Font */
@import url('https://fonts.googleapis.com/css?family=Literata&display=swap');

.heading h1 {
    text-align: center;
    margin: auto 0;
    color: darkgoldenrod;
    font-family: 'Literata', serif;
    font-size: 100px;
    width: 100%;
    height: 100%;

}

.beerCity button {
    float: left;
    font-family: 'Literata', serif;
}

iframe {
   width: 50%;
   height: 50%;
   border: 0;
   border-style: border 0;
   float: center;
}

#linkText {
    color:darkgoldenrod;
}

#datX {
    float: left;
    height: 20px;
    cursor: pointer;
    position: relative;
    left: 150px;
}

#individualBreweryText {
    text-align:center;
}

.container {
    height:100%;
    font-family: 'Literata', serif;
    color:darkgoldenrod;
    border-color: white;
    display: flex;
    padding-top: 20px;
    padding-right: 8%;
}

 .brewTour {
    height:50%;
    width: 48%;
    display:flex;
    padding-left: 10%;
} 

.listBackgrounds {
    background-color: rgba(59, 52, 17, 0.7);
    border-radius: 10px;
}

.brewTourHeader h1 {
    border-color: white;
    border-bottom: #ffffff;
    text-align: center;
    color:darkgoldenrod;
    margin-top: 0px;
    width: 100%;
    height: 100%;
}


.breweryResults {
    width:50%;
    height: 500px;
    flex-wrap: wrap;
    overflow: scroll;
    background: rgba(58, 46, 8, 0.767) url("Bubbles.gif") right top; 
    /* "/Users/peterfuoco/Downloads/Bubbles.gif" */
    border-radius: 10px;
}

body {
    background: #ffffff url("Beer.jpg") right top;
    /* https://github.com/peterfuoco/peterfuoco.github.io/blob/master/Beer.jpg) */
    /* "/Users/peterfuoco/Downloads/Beer.jpg" */
    font-family: 'Literata', serif;

}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-left: 100px;
  padding-right: 100px;
  left: 0;
  top: 0;
  width: 90%; /* Full width */
  height: 90%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  font-family: 'Literata', serif;
  color:darkgoldenrod;
  border-color: white;
  text-align: center;
  margin: 0 auto;

}

.button2 {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
    cursor: pointer;
}


.boozyInfo {
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
    cursor: pointer;
    
}

input {
    width: 200px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@media (max-width: 650px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
    .heading h1 {
        width: 100%;
        height: 40vh;
        border: 1px solid red;
        font-size: 60px;
        
    }
    .brewTourHeader {
        width: 100%;
        height: 10vh;
        border: 1px solid blue;
        font-size: 10px;
    }
    .container {
        width: 100%;
        height: 100vh;
        border: 1px solid green;
        flex-direction: column;
    }

    .breweryResults {
        width:90%;
        height: 50%;
        flex-wrap: wrap;
        overflow: scroll;
        background: rgba(58, 46, 8, 0.767) url("/Users/peterfuoco/Downloads/Bubbles.gif") right top;
        border-radius: 10px;
        padding-left: 10px;
        position: relative;
        left: 40px;
    
    }

    .modal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 50px; /* Location of the box */
        padding-left: 50;
        padding-right: 50px;
        left: 0;
        top: 0;
        width: 70%; /* Full width */
        height: 60%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
        font-family: 'Literata', serif;
        color:darkgoldenrod;
        border-color: white;
        text-align: center;
        margin: 0 auto;
        font-size: 10px;
      
      }


      .button2 {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin:10px;
        cursor: pointer;
        height: 20px;

    }

    .brewTour {
        height:30%;
        width: 48%;
        display:flex;
        padding-left: 10%;
    } 
    
    ul {
        height: 50px;
    }

    #datX {
        float: left;
        height: 20px;
        cursor: pointer;
        position: relative;
        left: 2px;
    }

    iframe {
        width: 70%;
        height: 50%;
        border: 5px;
        border-style: border 0;
        float: center;
     }

}